pinecone-client
pypdf
openai
langchain
langchain_openai
langchain_anthropic
langchain_community
langchain_pinecone
requests
pinecone
bs4
streamlit
python-dotenv
google-api-python-client
grpcio
httpx
pymongo
typing
